body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 450px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Ensure the button takes the full width of its grid cell */
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

#quiz-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 buttons per row */
    gap: 15px;
    width: 100%;
}

#next-button {
    display: none;
}

#result-container h2 {
    color: #333;
}
